*{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body,html{
    /*width: 1920px;*/
    /*height: 917px;*/
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: radial-gradient(rgba(0, 234, 255, 0.3), rgba(68, 226, 220, 0) 40vw), radial-gradient(rgba(0, 28, 128, 0.3), rgba(0, 128, 0, 0) 40vw), radial-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0) 40vw), radial-gradient(rgba(255, 255, 0, 0.3), rgba(255, 255, 0, 0) 40vw), radial-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0) 40vw);
    background-position: -40vw 14rem, 50% 10rem, 60vw 14rem, -10vw calc(14rem + 20vw), 30vw calc(14rem + 20vw);
    background-size: 85vw 85vw;
    background-repeat: no-repeat;
}
body .outer{
    width: 100%;
    height: 100%;
    position: relative;
    /*border: 1px solid black;*/
}
header{
    position: absolute;
    /*border: 1px solid black;*/
    width: 37%;
    height: 11%;
    margin-left: 0;
}
header .headIcon{
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font: 700 60px STXingkai;
    color: #3ea6fd;
}
.bodyDiv{
    /*border: 1px solid black;*/
    width: 29%;
    height: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.bodyDiv .bodyTop{
    /*border: 1px solid black;*/
    width: 550px;
    height: 60px;
    text-align: center;
    font: 700 60px STXingkai;
    color: #3ea6fd;
    position: relative;
}
@media screen and (max-width: 1919px){
    header{
        width: 100%;
        margin: auto;
    }
}